@{
    ViewData["Title"] = "Home";
}

    <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>Nicole Park</h1>
        <h2>Full-Stack Web Development</h2>
        <a href="about.html" class="btn-about">About Me</a>
    </div>
</section><!-- End Hero -->
