@{
    ViewData["Title"] = "Links";
}

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Links</h2>
                <p>Links to Centriq Teammates</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            </svg>
                            <i class="bx bxl-dribbble"></i>
                        </div>
                        <h4><a href="https://www.linkedin.com/in/allen-taylor-022050207/">Allen Taylor</a></h4>
                        <p>LinkedIn</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <a href="index.html" class="logo"><img src="~/assets/img/teammates/courtney.jpg" alt="" class="img-fluid"></a>
                            </svg>
                        </div>
                        <h4><a href="https://www.linkedin.com/in/courtneycrespo/">Courtney Crespo</a></h4>
                        <p>LinkedIn</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            </svg>
                            <i class="bx bx-tachometer"></i>
                        </div>
                        <h4><a href="https://www.linkedin.com/in/samnegus/">Samuel Negus</a></h4>
                        <p>LinkedIn</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->
