@{
    ViewData["Title"] = "Resume";
}

<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>
                <p>Summary of Education and Job Experiences</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Nicole Park</h4>
                        <p><em>Broad-minded and versatile while having great attention to detail and excellent written and oral communication skills.</em></p>
                        <p>
                            <ul>
                                <li>Lawrence, KS</li>
                                <li>npark080@outlook.com</li>
                                <li>www.nicolepark.net</li>
                            </ul>
                        </p>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Centriq Full-Stack Coding Program</h4>
                        <h5>2023 - 2024</h5>
                        <p><em>Centriq, Kansas City, KS</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>Bachelor of Arts in Psychology</h4>
                        <h5>2017-2022</h5>
                        <p><em>University of Kansas, Lawrence, KS</em></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Front Desk Receptionist/Office Assistant</h4>
                        <h5>2023 - Present</h5>
                        <p><em>Julie Bear Don't Walk Acupuncture & Integrative Health, Lawrence, KS</em></p>
                        <p>
                            <ul>
                                <li>Greet and welcome patients and visitors in a friendly and professional manner</li>
                                <li>Oversee and maintain the appointment calendar with 400+ patients monthly</li>
                                <li>Answer phone calls, take email and text messages, and help patients get their order pickup needs met</li>
                                <li>Assist with event planning, project coordination, and file management</li>
                                <li>Transcribe notes and documents accurately and proofread documents for spelling, grammar, and formatting errors</li>
                                <li>Train new staff in the workings and expectations of the clinic</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Clinic Support Specialist (Preceptor)</h4>
                        <h5>2022-2023</h5>
                        <p><em>LMH Internal Medicine Group, Lawrence, KS</em></p>
                        <p>
                            <ul>
                                <li>Responsible for accurate encounter registration and confirming eligibility from insurance companies</li>
                                <li>Educates the staff and physicians in process of scheduling and use of computer systems</li>
                                <li>Oversee scheduling of 80+ patients daily over the phone, in person, and electronically</li>
                                <li>Support organizational efforts towards regulatory mandates</li>
                                <li>Train new staff in the workings and expectations of the clinic</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Server</h4>
                        <h5>2020-2021</h5>
                        <p><em>Wa Japanese Restaurant, Lawrence, KS</em></p>
                        <p>
                            <ul>
                                <li>Greet guests, coordinate seating, and serve guests while creating a warm and welcoming environment</li>
                                <li>Handle to-go orders and phone calls</li>
                                <li>Handle money transactions</li>
                                <li>Perform opening and closing duties</li>
                                <li>Train new staff in the workings and expectations of the restaurant</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->
